<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breed.govern.mapper.BFeedFermentMapper">
    <select id="getFermentList" resultType="com.breed.govern.dto.vo.FermentListVo">
        select ff_id as ffId,
        ferment_info fermentInfo,
        DATEDIFF(NOW(), ferment_time) as fermentDay,
        ferment_time as fermentTime,
        status,
        create_Image as createImage
        from b_feed_ferment
        <where>
            1=1
            <if test="year!=''">
                and year(ferment_time)=#{year}
            </if>
            <if test="month!=''">
                and month(ferment_time)=#{month}
            </if>
        </where>
    </select>
    <select id="getSelectFermentList" resultType="com.breed.govern.dto.vo.SelectFermentListVo">
        SELECT f.ff_id        as ffId,
               f.ferment_info as fermentInfo
        FROM b_feed_ferment f
        WHERE f.status = 1

    </select>
</mapper>
