<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breed.govern.mapper.ExpPayMapper">

    <select id="getPayList" resultType="com.breed.govern.dto.param.PayDataParam">
        SELECT
        er.epid,er.pay,er.name,er.create_id,er.create_time AS create_time,p.type_name
        FROM
        exp_pay er
        LEFT JOIN exp_pay_revenue_category p ON p.prcid = er.prcid
        WHERE 1=1
        <if test="time!=null and time!=''">

            and DATE_FORMAT(er.create_time,"%Y-%m-%d") =#{time}

        </if>
        order  by er.create_time desc
    </select>
</mapper>
